@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?81018631');
  src: url('../font/fontello.eot?81018631#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?81018631') format('woff2'),
       url('../font/fontello.woff?81018631') format('woff'),
       url('../font/fontello.ttf?81018631') format('truetype'),
       url('../font/fontello.svg?81018631#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?81018631#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-star-half:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-video:before { content: '\e80b'; } /* '' */
.icon-videocam:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-th-large:before { content: '\e80f'; } /* '' */
.icon-th:before { content: '\e810'; } /* '' */
.icon-th-list:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-plus:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-info-circled:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-attach:before { content: '\e818'; } /* '' */
.icon-lock:before { content: '\e819'; } /* '' */
.icon-lock-open:before { content: '\e81a'; } /* '' */
.icon-pin:before { content: '\e81b'; } /* '' */
.icon-eye:before { content: '\e81c'; } /* '' */
.icon-eye-off:before { content: '\e81d'; } /* '' */
.icon-tag:before { content: '\e81e'; } /* '' */
.icon-forward:before { content: '\e81f'; } /* '' */
.icon-tags:before { content: '\e820'; } /* '' */
.icon-bookmark:before { content: '\e821'; } /* '' */
.icon-flag:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\e823'; } /* '' */
.icon-upload:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e825'; } /* '' */
.icon-edit:before { content: '\e826'; } /* '' */
.icon-print:before { content: '\e827'; } /* '' */
.icon-retweet:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e829'; } /* '' */
.icon-chat:before { content: '\e82a'; } /* '' */
.icon-bell:before { content: '\e82b'; } /* '' */
.icon-attention:before { content: '\e82c'; } /* '' */
.icon-location:before { content: '\e82d'; } /* '' */
.icon-trash-empty:before { content: '\e82e'; } /* '' */
.icon-folder-open:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-phone:before { content: '\e832'; } /* '' */
.icon-cog:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-cog-alt:before { content: '\e835'; } /* '' */
.icon-wrench:before { content: '\e836'; } /* '' */
.icon-basket:before { content: '\e837'; } /* '' */
.icon-calendar:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-login:before { content: '\e83a'; } /* '' */
.icon-logout:before { content: '\e83b'; } /* '' */
.icon-volume-off:before { content: '\e83c'; } /* '' */
.icon-volume-down:before { content: '\e83d'; } /* '' */
.icon-volume-up:before { content: '\e83e'; } /* '' */
.icon-headphones:before { content: '\e83f'; } /* '' */
.icon-clock:before { content: '\e840'; } /* '' */
.icon-block:before { content: '\e841'; } /* '' */
.icon-resize-full:before { content: '\e842'; } /* '' */
.icon-resize-small:before { content: '\e843'; } /* '' */
.icon-resize-vertical:before { content: '\e844'; } /* '' */
.icon-resize-horizontal:before { content: '\e845'; } /* '' */
.icon-zoom-in:before { content: '\e846'; } /* '' */
.icon-marquee:before { content: '\e847'; } /* '' */
.icon-zoom-out:before { content: '\e848'; } /* '' */
.icon-up-hand:before { content: '\e849'; } /* '' */
.icon-down-hand:before { content: '\e84a'; } /* '' */
.icon-right-hand:before { content: '\e84b'; } /* '' */
.icon-left-hand:before { content: '\e84c'; } /* '' */
.icon-down-open:before { content: '\e84d'; } /* '' */
.icon-left-open:before { content: '\e84e'; } /* '' */
.icon-right-open:before { content: '\e84f'; } /* '' */
.icon-up-open:before { content: '\e850'; } /* '' */
.icon-cw:before { content: '\e851'; } /* '' */
.icon-ccw:before { content: '\e852'; } /* '' */
.icon-arrows-cw:before { content: '\e853'; } /* '' */
.icon-to-start-alt:before { content: '\e854'; } /* '' */
.icon-fast-fw:before { content: '\e855'; } /* '' */
.icon-fast-bw:before { content: '\e856'; } /* '' */
.icon-flash:before { content: '\e857'; } /* '' */
.icon-umbrella:before { content: '\e858'; } /* '' */
.icon-flight:before { content: '\e859'; } /* '' */
.icon-align-justify:before { content: '\e85a'; } /* '' */
.icon-list:before { content: '\e85b'; } /* '' */
.icon-indent-left:before { content: '\e85c'; } /* '' */
.icon-indent-right:before { content: '\e85d'; } /* '' */
.icon-credit-card:before { content: '\e85e'; } /* '' */
.icon-floppy:before { content: '\e85f'; } /* '' */
.icon-megaphone:before { content: '\e860'; } /* '' */
.icon-key:before { content: '\e861'; } /* '' */
.icon-chart-bar:before { content: '\e862'; } /* '' */
.icon-note:before { content: '\e863'; } /* '' */
.icon-note-beamed:before { content: '\e864'; } /* '' */
.icon-music-1:before { content: '\e865'; } /* '' */
.icon-search-1:before { content: '\e866'; } /* '' */
.icon-flashlight:before { content: '\e867'; } /* '' */
.icon-mail-1:before { content: '\e868'; } /* '' */
.icon-heart-1:before { content: '\e869'; } /* '' */
.icon-heart-empty-1:before { content: '\e86a'; } /* '' */
.icon-star-1:before { content: '\e86b'; } /* '' */
.icon-star-empty-1:before { content: '\e86c'; } /* '' */
.icon-user-1:before { content: '\e86d'; } /* '' */
.icon-users-1:before { content: '\e86e'; } /* '' */
.icon-user-add:before { content: '\e86f'; } /* '' */
.icon-chat-1:before { content: '\e870'; } /* '' */
.icon-bell-1:before { content: '\e871'; } /* '' */
.icon-attention-1:before { content: '\e872'; } /* '' */
.icon-alert:before { content: '\e873'; } /* '' */
.icon-vcard:before { content: '\e874'; } /* '' */
.icon-tag-1:before { content: '\e875'; } /* '' */
.icon-basket-1:before { content: '\e876'; } /* '' */
.icon-trophy:before { content: '\e877'; } /* '' */
.icon-network:before { content: '\e878'; } /* '' */
.icon-monitor:before { content: '\e879'; } /* '' */
.icon-mobile:before { content: '\e87a'; } /* '' */
.icon-moon-1:before { content: '\e87b'; } /* '' */
.icon-flight-1:before { content: '\e87c'; } /* '' */
.icon-paper-plane-1:before { content: '\e87d'; } /* '' */
.icon-leaf:before { content: '\e87e'; } /* '' */
.icon-briefcase:before { content: '\e87f'; } /* '' */
.icon-suitcase:before { content: '\e880'; } /* '' */
.icon-chart-pie-1:before { content: '\e881'; } /* '' */
.icon-globe:before { content: '\e882'; } /* '' */
.icon-gauge-1:before { content: '\e883'; } /* '' */
.icon-rocket-1:before { content: '\e884'; } /* '' */
.icon-music-2:before { content: '\e885'; } /* '' */
.icon-search-outline:before { content: '\e886'; } /* '' */
.icon-search-2:before { content: '\e887'; } /* '' */
.icon-mail-2:before { content: '\e888'; } /* '' */
.icon-heart-2:before { content: '\e889'; } /* '' */
.icon-heart-filled:before { content: '\e88a'; } /* '' */
.icon-star-2:before { content: '\e88b'; } /* '' */
.icon-star-filled:before { content: '\e88c'; } /* '' */
.icon-user-outline:before { content: '\e88d'; } /* '' */
.icon-user-2:before { content: '\e88e'; } /* '' */
.icon-users-outline:before { content: '\e88f'; } /* '' */
.icon-users-2:before { content: '\e890'; } /* '' */
.icon-user-add-outline:before { content: '\e891'; } /* '' */
.icon-user-add-1:before { content: '\e892'; } /* '' */
.icon-user-delete-outline:before { content: '\e893'; } /* '' */
.icon-user-delete:before { content: '\e894'; } /* '' */
.icon-video-1:before { content: '\e895'; } /* '' */
.icon-videocam-outline:before { content: '\e896'; } /* '' */
.icon-picture-1:before { content: '\e897'; } /* '' */
.icon-camera-outline:before { content: '\e898'; } /* '' */
.icon-camera-1:before { content: '\e899'; } /* '' */
.icon-th-outline:before { content: '\e89a'; } /* '' */
.icon-th-1:before { content: '\e89b'; } /* '' */
.icon-th-large-outline:before { content: '\e89c'; } /* '' */
.icon-th-large-1:before { content: '\e89d'; } /* '' */
.icon-th-list-outline:before { content: '\e89e'; } /* '' */
.icon-th-list-1:before { content: '\e89f'; } /* '' */
.icon-ok-outline:before { content: '\e8a0'; } /* '' */
.icon-ok-1:before { content: '\e8a1'; } /* '' */
.icon-cancel-outline:before { content: '\e8a2'; } /* '' */
.icon-cancel-1:before { content: '\e8a3'; } /* '' */
.icon-info:before { content: '\e8a4'; } /* '' */
.icon-home-1:before { content: '\e8a5'; } /* '' */
.icon-home-outline:before { content: '\e8a6'; } /* '' */
.icon-attach-1:before { content: '\e8a7'; } /* '' */
.icon-attach-outline:before { content: '\e8a8'; } /* '' */
.icon-lock-open-filled:before { content: '\e8a9'; } /* '' */
.icon-lock-filled:before { content: '\e8aa'; } /* '' */
.icon-lock-open-1:before { content: '\e8ab'; } /* '' */
.icon-pin-1:before { content: '\e8ac'; } /* '' */
.icon-tags-1:before { content: '\e8ad'; } /* '' */
.icon-flag-1:before { content: '\e8ae'; } /* '' */
.icon-flag-filled:before { content: '\e8af'; } /* '' */
.icon-thumbs-up:before { content: '\e8b0'; } /* '' */
.icon-thumbs-down:before { content: '\e8b1'; } /* '' */
.icon-download-outline:before { content: '\e8b2'; } /* '' */
.icon-download-1:before { content: '\e8b3'; } /* '' */
.icon-upload-outline:before { content: '\e8b4'; } /* '' */
.icon-upload-1:before { content: '\e8b5'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e8b6'; } /* '' */
.icon-upload-cloud-1:before { content: '\e8b7'; } /* '' */
.icon-pencil-1:before { content: '\e8b8'; } /* '' */
.icon-pen:before { content: '\e8b9'; } /* '' */
.icon-edit-1:before { content: '\e8ba'; } /* '' */
.icon-print-1:before { content: '\e8bb'; } /* '' */
.icon-comment-1:before { content: '\e8bc'; } /* '' */
.icon-chat-2:before { content: '\e8bd'; } /* '' */
.icon-chat-alt:before { content: '\e8be'; } /* '' */
.icon-bell-2:before { content: '\e8bf'; } /* '' */
.icon-attention-2:before { content: '\e8c0'; } /* '' */
.icon-attention-filled:before { content: '\e8c1'; } /* '' */
.icon-warning-empty:before { content: '\e8c2'; } /* '' */
.icon-warning:before { content: '\e8c3'; } /* '' */
.icon-contacts:before { content: '\e8c4'; } /* '' */
.icon-vcard-1:before { content: '\e8c5'; } /* '' */
.icon-address:before { content: '\e8c6'; } /* '' */
.icon-location-outline:before { content: '\e8c7'; } /* '' */
.icon-map:before { content: '\e8c8'; } /* '' */
.icon-location-1:before { content: '\e8c9'; } /* '' */
.icon-direction-outline:before { content: '\e8ca'; } /* '' */
.icon-direction-1:before { content: '\e8cb'; } /* '' */
.icon-phone-1:before { content: '\e8cc'; } /* '' */
.icon-wrench-1:before { content: '\e8cd'; } /* '' */
.icon-basket-2:before { content: '\e8ce'; } /* '' */
.icon-calendar-outlilne:before { content: '\e8cf'; } /* '' */
.icon-calendar-1:before { content: '\e8d0'; } /* '' */
.icon-mic-outline:before { content: '\e8d1'; } /* '' */
.icon-mic-1:before { content: '\e8d2'; } /* '' */
.icon-clock-1:before { content: '\e8d3'; } /* '' */
.icon-block-outline:before { content: '\e8d4'; } /* '' */
.icon-popup:before { content: '\e8d5'; } /* '' */
.icon-flash-1:before { content: '\e8d6'; } /* '' */
.icon-plane:before { content: '\e8d7'; } /* '' */
.icon-database-1:before { content: '\e8d8'; } /* '' */
.icon-certificate-1:before { content: '\e8d9'; } /* '' */
.icon-certificate-outline:before { content: '\e8da'; } /* '' */
.icon-github-1:before { content: '\e8db'; } /* '' */
.icon-at-1:before { content: '\e8dc'; } /* '' */
.icon-linkedin-1:before { content: '\e8dd'; } /* '' */
.icon-facebook-2:before { content: '\e8de'; } /* '' */
.icon-twitter-circled-1:before { content: '\e8df'; } /* '' */
.icon-facebook-circled-1:before { content: '\e8e0'; } /* '' */
.icon-twitter-1:before { content: '\e8e1'; } /* '' */
.icon-comment-2:before { content: '\e8e2'; } /* '' */
.icon-comment-inv:before { content: '\e8e3'; } /* '' */
.icon-comment-alt:before { content: '\e8e4'; } /* '' */
.icon-comment-inv-alt:before { content: '\e8e5'; } /* '' */
.icon-comment-alt2:before { content: '\e8e6'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e8e7'; } /* '' */
.icon-chat-3:before { content: '\e8e8'; } /* '' */
.icon-chat-inv:before { content: '\e8e9'; } /* '' */
.icon-location-2:before { content: '\e8ea'; } /* '' */
.icon-down:before { content: '\e8eb'; } /* '' */
.icon-left:before { content: '\e8ec'; } /* '' */
.icon-right:before { content: '\e8ed'; } /* '' */
.icon-up:before { content: '\e8ee'; } /* '' */
.icon-lodging:before { content: '\e8ef'; } /* '' */
.icon-skiing:before { content: '\e8f0'; } /* '' */
.icon-swimming:before { content: '\e8f1'; } /* '' */
.icon-theatre:before { content: '\e8f2'; } /* '' */
.icon-town-hall:before { content: '\e8f3'; } /* '' */
.icon-cafe:before { content: '\e8f4'; } /* '' */
.icon-grocery-store:before { content: '\e8f5'; } /* '' */
.icon-art-gallery:before { content: '\e8f6'; } /* '' */
.icon-pitch:before { content: '\e8f7'; } /* '' */
.icon-facebook-3:before { content: '\e8f8'; } /* '' */
.icon-github-2:before { content: '\e8f9'; } /* '' */
.icon-guidedog:before { content: '\e8fa'; } /* '' */
.icon-accessibility:before { content: '\e8fb'; } /* '' */
.icon-graduation-cap:before { content: '\e8fc'; } /* '' */
.icon-trash-1:before { content: '\e8fd'; } /* '' */
.icon-location-3:before { content: '\e8fe'; } /* '' */
.icon-comment-3:before { content: '\e8ff'; } /* '' */
.icon-pencil-2:before { content: '\e900'; } /* '' */
.icon-thumbs-up-1:before { content: '\e901'; } /* '' */
.icon-tag-2:before { content: '\e902'; } /* '' */
.icon-paper-plane-2:before { content: '\e903'; } /* '' */
.icon-attach-2:before { content: '\e904'; } /* '' */
.icon-photo:before { content: '\e905'; } /* '' */
.icon-music-3:before { content: '\e906'; } /* '' */
.icon-search-3:before { content: '\e907'; } /* '' */
.icon-mail-3:before { content: '\e908'; } /* '' */
.icon-star-3:before { content: '\e909'; } /* '' */
.icon-user-3:before { content: '\e90a'; } /* '' */
.icon-videocam-1:before { content: '\e90b'; } /* '' */
.icon-camera-2:before { content: '\e90c'; } /* '' */
.icon-heart-3:before { content: '\e90d'; } /* '' */
.icon-cog-1:before { content: '\e90e'; } /* '' */
.icon-food-1:before { content: '\e90f'; } /* '' */
.icon-calendar-2:before { content: '\e910'; } /* '' */
.icon-money:before { content: '\e911'; } /* '' */
.icon-truck:before { content: '\e912'; } /* '' */
.icon-beaker-1:before { content: '\e913'; } /* '' */
.icon-params:before { content: '\e914'; } /* '' */
.icon-note-1:before { content: '\e915'; } /* '' */
.icon-clock-2:before { content: '\e916'; } /* '' */
.icon-mobile-1:before { content: '\e917'; } /* '' */
.icon-desktop:before { content: '\e918'; } /* '' */
.icon-globe-1:before { content: '\e919'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-adn:before { content: '\f170'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-gittip:before { content: '\f184'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-drupal:before { content: '\f1a9'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-modx:before { content: '\f285'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-universal-access:before { content: '\f29a'; } /* '' */
.icon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-audio-description:before { content: '\f29e'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-braille:before { content: '\f2a1'; } /* '' */
.icon-assistive-listening-systems:before { content: '\f2a2'; } /* '' */
.icon-font-awesome:before { content: '\f2b4'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-linode:before { content: '\f2b8'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-2:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-linkedin-2:before { content: '\f31a'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-tudou:before { content: '\f323'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */